.wrapperS{
    margin-left: 1110px;
    margin-top : 5px;
    position : absolute;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    width : 390px;
    height: auto;
    box-shadow: 5px 5px 8px #888888;
    border-radius: 5px;
    z-index : 3;
}
.options{
    border-top: 10px #ffffff solid;
    border-left : 10px #ffffff solid;
}
.rule{
    color : #bfbfbf;
}

.collapseButtonS{
    border-left: 230px #ffffff solid;
}
.expandBut{
    transform: rotate(-180deg);
}

.settingsInput{
    display: block;
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    border-radius: 5px;
    border: 3px solid #ECECEC;
    padding: 5px 5px;
}

.label{
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    padding-bottom: 10px;
    padding-top : 15px;
}
.wrapperSettings{
    padding-left:15px;
    padding-bottom: 25px;
    color : #595959;
}
.wrapperStats{
    padding-left:15px;
    padding-bottom: 25px;
    color : #595959
}
.wrapperNodes{
    padding-left:15px;
    padding-bottom: 25px;
    color : #595959;
    display: block;
}
.mTrigger{
    background-color: #FF8F61;
    color : #fafafa;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left : 100px;
}
.statsHeader{
    display: inline-block;
    
}
.statsDetails{
    color: #023485;
    float:right;
    margin-right:15px;
}
#nodeActions button{
    color: #fafafa;
    background-color: #5A65FF;
    padding: 10px 20px;
    display: inline-flex;
    border-radius: 6px;
    margin-right:10px;
    margin-top:10px;   
}
#nodeLogics button{
    color: #fafafa;
    background-color: #FF8F61;
    padding: 10px 20px;
    display: inline-flex;
    border-radius: 6px;
    margin-right:10px;
    margin-top:10px; 
}
#nodeControls button{
    color: #fafafa;
    background-color: #6FCF97;
    padding: 10px 20px;
    display: inline-flex;
    border-radius: 6px;
    margin-right:10px;
    margin-top:10px;
}

.flowWrapper{
    position:absolute;
    z-index : 0;
}